<div class="design-2">
  <div class="section-1" style="background:<%= ad.background_color_1 %>;color:<%= ad.text_color_1 %>;">
    <p class="name"><%= ad.name %></p>
    <p class="text_1"><%= ad.text_1 %></p>
  </div>
  <div class="middle">
    <div class="profile-container fill">
        <%= image_tag (ad.profile_image.blank? ? "profile.png" : ad.profile_image), class: "profile" %>
    </div>
    <div class="section-2" style="background:<%= ad.background_color_2 %>;color:<%= ad.text_color_2 %>;">
      <span class="text_2"><%= ad.text_2 %></span>
      <div class="number-button" style="border-color: <%= ad.text_color_2 %>;">
          <span class="phone-number"><%= ad.phone_number %></span>
      </div>
    </div>
  </div>
  <div class="section-3" style="color:<%= ad.background_color_2 %>;">
     <%= image_tag (ad.house_image.blank? ? "house.png" : ad.house_image), class: "house" %>
     <span class="company"><%= ad.company %></span><br><span class="zipcode"><%= ad.city_state %></span>
  </div>
</div>

