<div class="design" style="width:300px;height:250px;background:black;color:white;padding:0;margin:0;position:relative;">
    <div class="section-1" style="width:100%;height:30px;background:<%= ad.background_color_1 %>;color:<%= ad.text_color_1 %>;text-align:center">
        <p style="line-height:30px;vertical-align:center"><span class="text_1"><%= ad.text_1 %></span></p>
    </div>
<div class="fill" style="width:300px;height:120px;position:relative;overflow:hidden">
    <%= image_tag ad.house_image, class: "house" %>
    <div style="position:absolute;bottom:5px;left:5px;background-color:gray;padding:3px">
        Click or Call <span class="phone-number"><%= ad.phone_number %></span>
    </div>
</div>
<div class="section-1" style="width:100%;height:70px;background:<%= ad.background_color_1 %>;color:<%= ad.text_color_1 %>;position:relative">
    <div style="position:absolute;left:80px;top:5px;right:5px;bottom:5px">
        <span class="name"><%= ad.name %></span><br>
        <span class="company"><%= ad.company %></span></div></div>
<div class="section-2" style="width:100%;height:30px;background:<%= ad.background_color_2 %>;color:<%= ad.text_color_2 %>;position:relative">
    <div style="position:absolute;left:80px;top:5px;right:5px;bottom:5px"><span class="zipcode"><%= ad.city_state %></span></div></div>
<div class="profile-container" style= "width:60px;height:80px;background-color:red;position:absolute;left:10px;bottom:10px;z-index:10;overflow:hidden;">
    <div class="fill" style="width:100%;height:100%"><%= image_tag ad.profile_image, class: "profile" %></div></div>
</div>

