<div class="design design-1">
  <div class="section-1 toptext" style="background:<%= ad.background_color_1 %>;color:<%= ad.text_color_1 %>;">
    <p><span class="text_1"><%= ad.text_1 %></span></p>
  </div>
  <div class="fill">
    <%= image_tag ad.house_image.blank? ? "house.png" : ad.house_image, class: "house" %>
    <div class="callbox">
      Click or Call <span class="phone-number"><%= ad.phone_number %></span>
    </div>
  </div>
  <div class="section-1 middletext" style="background:<%= ad.background_color_1 %>;color:<%= ad.text_color_1 %>;">
    <div class="namecompany">
      <span class="name"><%= ad.name %></span><br>
      <span class="company"><%= ad.company %></span>
    </div>
  </div>
  <div class="section-2" style="background:<%= ad.background_color_2 %>;color:<%= ad.text_color_2 %>;">
    <div class="zip">
      <span class="zipcode"><%= ad.city_state %></span>
    </div>
  </div>
  <div class="profile-container fill">
    <%= image_tag (ad.profile_image.blank? ? "profile.png" : ad.profile_image), class: "profile" %>
  </div>
</div>

