<div class="affix" style="right:0;top:calc(50% - 120px);width:140px;height:240px;background:#aaa;opacity:.5;border-top-left-radius:5px;border-bottom-left-radius:5px;border:1px solid;border-right:none">&nbsp;</div>
<div class="affix" style="right:0;top:calc(50% - 120px);width:140px;cursor:pointer">
  <%= image_tag "help_pic.jpg", class: "img-circle", style: "height: 100px;display:block;margin:20px;" %>
  <div class="clearfix"></div>
  <div class="popover bottom" style="display:block;top:120px;margin-left:20px">
      <div class="arrow"></div>
      <h3 class="popover-title">Need help?</h3>
      <div class="popover-content"> <p>Email Support!</p> 
      </div> 
     </div>
</div> 
<h1>Ad Generator</h1>
<div class="row">
    <div id="form" class="col-xs-6"><%= render 'pages/form', ad: @ad %></div>
    <div id="preview" class="col-xs-6"><%= render 'pages/preview' %></div>
</div>
<h2>Past Designs</h2>
<div id="list" class="row">
    <%= render "pages/list" %>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Let us help you!</h4>
      </div>
      <div class="modal-body">
        <%= form_tag email_form_path, class: "form-horizontal", remote: true do %>

        <div class="form-group">
            <%= label_tag :name, "Name", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= text_field_tag :name, "", class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <%= label_tag :email, "Email", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= text_field_tag :email, "", class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <%= label_tag :question, "Question", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= text_area_tag :question, "", class: "form-control" %>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag "Chat with us", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Thanks!</h4>
      </div>
      <div class="modal-body">
        <p>Thanks for your feedback! Someone will be contacting you shortly.</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>